@import url('https://fonts.googleapis.com/css2?family=Abel&family=Astloch:wght@400;700&family=New+Rocker&display=swap');

#header-Index {
    background: linear-gradient(-45deg, #f565aa, #c55af0, #30b4e4, #304be4);
    height: 40px;
}
/* .headerSuit-Major {
    background: linear-gradient(45deg, #731aa7, #9535cd, #c55af0);
}
.headerSuit-Wands {
    background: linear-gradient(45deg, #731aa7, #9535cd, #c55af0);
}
.headerSuit-Swords {
    background: linear-gradient(45deg, #731aa7, #9535cd, #c55af0);
}
.headerSuit-Cups {
    background: linear-gradient(45deg, #731aa7, #9535cd, #c55af0);
}
.headerSuit-Pentacles {
    background: linear-gradient(45deg, #731aa7, #9535cd, #c55af0);
} */
#header-Card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;

    height: 60px;

    background-color: black;
    box-shadow: 2px 2px 2px black;

    z-index: 1030;
}
#suitName {
    font-family: "Astloch", system-ui;
    font-weight: 700;
    font-size: 26px;
    /* text-shadow: 1px 1px 3px #2330a3; */
}
#headerName{
    font-family: "Astloch", system-ui;
    font-weight: 700;
    font-size: 32px;
}
#index-Border {
    background: linear-gradient(-45deg, #f565aa, #c55af0, #30b4e4, #304be4);
    top: 13.25rem;
}
#backButton {
    font-size: 26px;
}
/* Style The Dropdown Button */
#dropdown-icon {
    font-size: 26px;
} 

#content-single {
    top: 15rem;
}
#img-single {
    margin-bottom: 1rem;
}
#icons-single {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 500px;
    min-width: 150px;
}
#element-single, #planet-single, #astro-single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 10px;
    margin-right: 10px;
}
#keywords-single {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    /* color: #2330a3; */
}
#keywordsUp, #keywordsRev {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
#keywordsUp {
    justify-content: right;
    text-align: right;
}
#keywordsRev {
    justify-content: left;
    text-align: left;
}
#key-line {
    background-color: #08115c;
    height: 60px;
    width: 1px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
#text-single {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

#imgUp {
    /* background-color: #c55af0;
    width: 200px; */
    height: 300px;
    box-shadow: 
        4px 4px 10px 3px #2330a3,
        -2px -2px 10px 3px #2330a3;
    ;
}
#element-icon, #planet-icon, #astro-icon {
    font-size: 40px;
}
#element-name, #planet-name, #astro-name {
    margin-top: 5px;
    font-size: 16px;
    text-transform: uppercase;
}
#key-prompt {
    font-size: 12px;
    font-weight: bolder;
    text-decoration: underline;
    color: #08115c;
}
#key-Up, #key-Rev {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    color: #08115c;
}
#card-name {
    font-size: 26px;
    /* font-family: "New Rocker", system-ui; */
    /* font-family: "Astloch", system-ui; */
    margin-top: 5px;
    margin-bottom: 5px;
}
#meaning-prompt {
    font-size: 24px;
    margin-bottom: 10px;

    text-align: center;
    font-family: "Astloch", system-ui;
    font-weight: 700;
}
#meaning-Up, #meaningRev {
    font-size: 18px;
    margin-bottom: 20px;
    
    text-align: justify;
}

/* #buffer {
    height: 10rem;
} */

#content-addMeanings {

}
.addMeaning {
    background-color: #304be4;
    width: 300px;
    padding: 20px;
    box-shadow: 4px 4px 7px 3px #2330a3;

    margin-top: 20px;
    margin-bottom: 30px;
}
.mTitle {
    font-size: 26px;
    margin-bottom: 5px;

    text-align: center;
    font-family: "Astloch", system-ui;
    font-weight: 700;
}
.reader {
    text-align: center;
    text-transform: uppercase;
    color: #2330a3;
    font-weight: bold;

    margin-bottom: 5px;
    margin-top: 10px;
}
.title {
    font-size: 22px;
    margin-bottom: 10px;

    text-align: center;
    font-family: "Astloch", system-ui;
    font-weight: 400;

}
.mContent {
    font-size: 18px;  
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;

    margin-bottom: 20px;
}
#daily-Decision-content {
    text-align: center;
}