@import url('https://fonts.googleapis.com/css2?family=Abel&family=Astloch:wght@400;700&family=New+Rocker&display=swap');

*{
    font-family: "Abel", sans-serif;
    color: white;
}
#body {
    /* background: linear-gradient(-45deg, #f565aa, #c55af0, #30b4e4, #3ce7bf); */
    background: linear-gradient(-45deg, #a24cc4, #216cb2, #2e3dc9, #2330a3);
    background-size: 100% 100%;
    /* animation: gradient 15s ease infinite; */
	height: 100vh;
    /* background-repeat: none; */

}
#header-Main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;

    margin-top: 30px;
    margin-bottom: 10px;
}
#menu {
    margin-left: 20px;
    
    background-color: white;
    width: 60px;
    height: 60px;
}
#logo {
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
#user-img {
    margin-right: 20px;

    background-color: #a24cc4;
    border-radius: 50%;
    width: 200px;
    height: 200px;

    margin-top: 100px;
}

#content-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#user-name {
    font-family: "Astloch", system-ui;
    font-weight: 700;
    font-size: 44px;
    /* text-shadow: 1px 1px 3px #2330a3; */
}
#user-sign, #user-spirit-animal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    font-size: 24px;
}
#prompt {
    font-family: "Astloch", system-ui;
    font-weight: 400;

    margin-right: 10px;
}
#astro-icon {
    background-color:#216cb2;
    width: 40px;
    height: 40px;

    margin-left: 10px;
}

#preview-lastReading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}
#lastReading {
    font-size: 30px;
}
#layoutArea {
    display: flex;
    flex-direction: row;

}
#card1, #card2, #card3 {
    width: 85px;
    height: 130px;
    background-color: #f565aa;
    margin: 10px;
}
#info {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
#intention, #layout {

}
#date {

}

#options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

    margin-top: 40px;

    font-size: 30px;
}