@import url('https://fonts.googleapis.com/css2?family=Abel&family=Astloch:wght@400;700&family=New+Rocker&display=swap');

#logo {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#content-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 10rem;
}
#greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    font-size: 36px;
}

#cardOfTheDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}
#cotd-img {
    width: 175px;
    height: 250px;
    background-color: #a24cc4;
}
#cotd-title {
    margin-top: 10px;
}
#cotd-name {
    font-family: "Astloch", system-ui;
    font-weight: 700;
    font-size: 32px;
}
#cotd-button {
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    border-radius: 25px;
    width: 120px;
    height: 40px;

    margin-top: 10px;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

    margin-top: 40px;

    font-size: 30px;
}