@import url('https://fonts.googleapis.com/css2?family=Abel&family=Astloch:wght@400;700&family=New+Rocker&display=swap');

#header-Main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;

    margin-bottom: 10px;

    /* background-color: remove; */
}
#logo {
    margin-right: 50px;
}
#user-img {
    background-color: #a24cc4;
    border-radius: 50%;
    width: 200px;
    height: 200px;

    margin-right: 0px;
    margin-left: 25px;
    margin-top: 5rem;
}

#content-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
    top: 20rem;
}
#user-name {
    font-family: "Astloch", system-ui;
    font-weight: 700;
    font-size: 44px;
    /* text-shadow: 1px 1px 3px #2330a3; */
}
#user-sign, #user-spirit-animal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    font-size: 24px;
}
#prompt {
    font-family: "Astloch", system-ui;
    font-weight: 400;

    margin-right: 10px;
}
#astro-icon {
    /* background-color:#216cb2;
    width: 40px;
    height: 40px; */

    font-size: 25px;

    margin-left: 10px;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

    margin-top: 40px;

    color: lightblue;
    font-size: 30px;
}