@import url('https://fonts.googleapis.com/css2?family=Abel&family=Astloch:wght@400;700&family=New+Rocker&display=swap');

#header-Index {
    justify-content: center;
}
#filter {
    background-color: white;
    width: 40px;
    height: 30px;
    /* justify-self: flex-end; */

    margin-right: 20px;
}

#preview-pastReading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}
#layoutArea {
    display: flex;
    flex-direction: row;
}
#card1, #card2, #card3 {
    width: 85px;
    height: 130px;
    background-color: #f565aa;
    margin: 10px;
}
#date {
    font-size: 24px;
}
#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
    font-size: 20px;
}
#reading-intention, #reading-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
#prompt {
    font-family: "Astloch", system-ui;
    font-weight: 400;
}

#actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* margin-top: 15px; */
}
#view-button {
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    border-radius: 25px;
    width: 120px;
    height: 40px;

    /* box-shadow: 2px 2px 5px #1b2687; */
}
#share-button {
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    border-radius: 25px;
    width: 120px;
    height: 40px;

    /* box-shadow: 2px 2px 5px #1b2687; */
}