@import url('https://fonts.googleapis.com/css2?family=Abel&family=Astloch:wght@400;700&family=New+Rocker&display=swap');

#header-Index {
    justify-content: center;
}

#explore-minorArcana {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: #30b4e4; */

    column-gap: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
#explore-majorArcana, #explore-Wands, #explore-Swords, #explore-Cups, #explore-Pentacles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;
}
#explore-major-suit, #explore-wands-suit, #explore-swords-suit, #explore-cups-suit, #explore-pentacles-suit {
    font-size: 26px;
    margin-top: 10px;
}
#explore-major-elementIcon, #explore-wands-elementIcon, #explore-swords-elementIcon, #explore-cups-elementIcon, #explore-pentacles-elementIcon {
    width: 100px;
    height: 100px;
    background-color: #f565aa;
    font-size: 70px;
    text-align: center;
    box-shadow: 2px 2px 10px #2330a3;
}