@import url('https://fonts.googleapis.com/css2?family=Abel&family=Astloch:wght@400;700&family=New+Rocker&display=swap');

*{
    font-family: "Abel", sans-serif;
    color: white;
}
#body {
    /* background: linear-gradient(-45deg, #f565aa, #c55af0, #30b4e4, #3ce7bf); */
    background: linear-gradient(-45deg, #a24cc4, #216cb2, #2e3dc9, #2330a3);
    background-size: 100% 100%;
    /* animation: gradient 15s ease infinite; */
	height: 100vh;
    /* background-repeat: none; */

}
#header-Main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;

    margin-top: 30px;
    margin-bottom: 30px;
}
#menu {
    margin-left: 20px;
    
    background-color: white;
    width: 60px;
    height: 60px;
}
#logo {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#user-img {
    margin-right: 20px;

    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}